@font-face {
    font-family: '8bitWonder';
    src: url('../fonts/CHE-EQUI.TTF');
}

body{
    font-family: '8bitWonder';
    font-size: xxx-large;
    background-color: beige;
}
.game {
    box-sizing: content-box;
    width: 630px;
    height: 400px;
    padding: 2px;
    border: 3px black solid;
    user-select: none;
    display: flex;
    margin: auto;
    position: relative;
    margin-top: 100px;
}
  
.cell {
    width: 20px;
    height: 20px;
}
  
.snake {
    background-color: black;
    border-radius: 30%;
}

.paused{
    opacity: 0.6;
}
  
.food {
    background-image: url('./images/food.svg');
    background-size: 100% 100%;
    animation: rotateAnimation 4s linear infinite; /* Adjust animation duration and timing function */
}

@keyframes rotateAnimation {
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(360deg);
  }
}
.gameover{
    font-size:40px;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
    padding: 3%;
    margin-right: 30%;
    font-size: x-large;
}

.level{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 28%;
}

.levelButton{
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 900;
    margin-left: 25%;
}

.startCount{
    margin-left: 45%;
    margin-top: 25%;
    font-size: 100px;
}

.button{
    font-family: '8bitWonder';
    font-size: large;
    padding: 5px;
    background-color: beige;
    border-color: beige;
    
}

.button:hover{
    background-color :aquamarine;
}